body {
  background-color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.noteboard {
  background-color: rgb(235, 188, 86);
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  margin: 25px;
}

.note {
  position: absolute;
  background-color: rgb(255, 248, 182);
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-flow: column;
  /* border: 5px solid lightskyblue;
  box-sizing: border-box; */
  min-width: 100px;
  min-height: 100px;
}

.note-drag {
  flex: 0 1 30px;
  display: flex;
  background-color: rgba(211, 211, 211, 0.329);
}

.note-field {
  background: transparent;
  margin: 10px;
  flex: 1 1 auto;
  overflow-wrap: break-word;
  resize: none;
  border: none;
}

.note-field:disabled {
  background: transparent;
}

.note-resize {
  position: absolute;
  background-color: white;
  border: 5px solid lightskyblue;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: se-resize;
}

.note-delete {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
